/kicad/promicroReversiblePad.pretty
/kicad/pisic-backups
kicad/sym-lib-table
kicad/fp-lib-table
kicad/fp-info-cache
/kicad/yubuGadgetsFootpints.pretty
kicad/~pisic.kicad_sch.lck
kicad/pisic.kicad_prl
